<div class="ocha-key-figures">
  <ul class="ocha-key-figures__list">
    {% for figure in data %}
    <li>
      <figure id="{{ figure.id|clean_id }}" class="ocha-key-figures__figure ocha-key-figures__figure--{{ figure.status }}">
        <figcaption class="ocha-key-figures__figure__label">{{ figure.name }}</figcaption>
        <div class="ocha-key-figures__figure__content">
          <p>
            {% set value = figure.valueType == 'string' ? figure.value : figure.value|number_format %}
            <data value="{{ value }}" class="ocha-key-figures__figure__value">{{ figure.prefix }}{{ value }}{{ figure.suffix }}</data>
            {% if figure.trend %}

              <small class="ocha-key-figures__figure__trend"><span class="ocha-key-figures__figure__trend__message">{{ figure.trend.message }}</span> <span class="ocha-key-figures__figure__trend__since">{{ figure.trend.since }}</span></small>
            {% endif %}
          </p>
          {% if figure.sparkline %}
          <svg class="ocha-key-figures__figure__sparkline" viewBox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" width="120" fill="none" stroke="#999" aria-hidden="true">
            <polyline points="{{ figure.sparkline.points|join(' ') }}"/>
          </svg>
          {% endif %}
          {% if figure.description %}
            <small class="ocha-key-figures__figure__description"><span class="ocha-key-figures__figure__description__message">{{ figure.description }}</span></small>
          {% endif %}
        </div>
        <footer class="ocha-key-figures__figure__footer">
          <time datetime="{{ figure.date|date('c') }}" class="ocha-key-figures__figure__updated">{{ figure.updated }}</time>
          <cite class="ocha-key-figures__figure__source"><span class="visually-hidden">{{ 'Source: '|t }} </span><a href="{{ figure.url }}">{{ figure.source }}</a></cite>
        </footer>
      </figure>
    </li>
    {% endfor %}
  </ul>

  {% if view_all %}
  <footer class="view-more ocha-key-figures__links">
    <a href="{{ view_all_info.href }}">{{ view_all_info.title }}</a>
  </footer>
  {% endif %}

  <script type="application/ld+json">
    {{ jsonld|raw }}
  </script>

</div>{# .ocha-key-figures #}
